<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
        <h1>Top Headlines</h1>
      
          {% for title, desc, img, publish_date, url in contents %}        
          <div class="wrapper">
            <div class="item">
              
             <a href="{{url}}"><img src="{{img}}"></a>
            
            </div>
            <div class="content"><a href="{{url}}"><h2>{{title}}</h2></a></div>
            <div class="content"><a href="{{url}}"><p>{{desc}}</p></a></div>
            <div class="content"><p>{{publish_date}}</p></div>
            
            
          </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
          {% endfor %}
      </ul>
      <h3>Other news</h3>
      {% for title, desc, img, publish_date, url in all %}        
          <div class="wrapper">
            <div class="item">
              
             <a href="{{url}}"><img src="{{img}}"></a>
            
            </div>
            <div class="content"><a href="{{url}}"><h2>{{title}}</h2></a></div>
            <div class="content"><a href="{{url}}"><p>{{desc}}</p></a></div>
            <div class="content"><p>{{publish_date}}</p></div>
            
            
          </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
          {% endfor %}
      
</body>
</html>